.container {
  composes: container from 'bulma/css/bulma.css';
}
.job {
  composes: column is-half is-offset-one-quarter from 'bulma/css/bulma.css'
}
.title {
  composes: title is-1 from 'bulma/css/bulma.css'
}
.location {
  composes: title is-2 from 'bulma/css/bulma.css'
}
.salary {
  composes: title is-3 from 'bulma/css/bulma.css'
}
.links {
  composes: level from 'bulma/css/bulma.css'
}
.link,
.social {
  composes: level-item from 'bulma/css/bulma.css'
}
.socialLink {
  composes: icon from 'bulma/css/bulma.css'
}
.facebook,
.twitter,
.linkedin,
.instagram {
  composes: fa from 'font-awesome/css/font-awesome.css'
}
.facebook {
  composes: fa-facebook-square from 'font-awesome/css/font-awesome.css'
}
.twitter {
  composes: fa-twitter-square from 'font-awesome/css/font-awesome.css'
}
.linkedin {
  composes: fa-linkedin-square from 'font-awesome/css/font-awesome.css'
}
.instagram {
  composes: fa-instagram from 'font-awesome/css/font-awesome.css'
}
