<!DOCTYPE html>
<html>

<head>
    <base href="/">
    <meta charset="utf-8">
    <title>Nudj - Hire the people you never thought you could.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href=/assets/images/nudj-square.ico type="image/x-icon" />

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.2/css/bulma.min.css">
    <link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
    <link href="https://unpkg.com/basscss-responsive-type-scale@1.0.1/css/responsive-type-scale.css" rel="stylesheet">

    <!-- Intercom -->
    <script>
        window.intercomSettings = {
            app_id: "jmk9ujo0",
            custom_launcher_selector: '#open-intercom'
        };
    </script>
    <script>
        (function() {
            var w = window;
            var ic = w.Intercom;
            if (typeof ic === "function") {
                ic('reattach_activator');
                ic('update', intercomSettings);
            } else {
                var d = document;
                var i = function() {
                    i.c(arguments)
                };
                i.q = [];
                i.c = function(args) {
                    i.q.push(args)
                };
                w.Intercom = i;

                function l() {
                    var s = d.createElement('script');
                    s.type = 'text/javascript';
                    s.async = true;
                    s.src = 'https://widget.intercom.io/widget/fwqdxwzg';
                    var x = d.getElementsByTagName('script')[0];
                    x.parentNode.insertBefore(s, x);
                }
                if (w.attachEvent) {
                    w.attachEvent('onload', l);
                } else {
                    w.addEventListener('load', l, false);
                }
            }
        })()
    </script>

    <!-- FullStory -->

    <script>
        window['_fs_debug'] = false;
        window['_fs_host'] = 'www.fullstory.com';
        window['_fs_org'] = '3127D';
        window['_fs_namespace'] = 'FS';
        (function(m, n, e, t, l, o, g, y) {
            if (e in m && m.console && m.console.log) {
                m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].');
                return;
            }
            g = m[e] = function(a, b) {
                g.q ? g.q.push([a, b]) : g._api(a, b);
            };
            g.q = [];
            o = n.createElement(t);
            o.async = 1;
            o.src = 'https://' + _fs_host + '/s/fs.js';
            y = n.getElementsByTagName(t)[0];
            y.parentNode.insertBefore(o, y);
            g.identify = function(i, v) {
                g(l, {
                    uid: i
                });
                if (v) g(l, v)
            };
            g.setUserVars = function(v) {
                g(l, v)
            };
            g.identifyAccount = function(i, v) {
                o = 'account';
                v = v || {};
                v.acctId = i;
                g(o, v)
            };
            g.clearUserCookie = function(c, d, i) {
                if (!c || document.cookie.match('fs_uid=[`;`]*`[`;`]*`[`;`]*`')) {
                    d = n.domain;
                    while (1) {
                        n.cookie = 'fs_uid=;domain=' + d +
                            ';path=/;expires=' + new Date(0).toUTCString();
                        i = d.indexOf('.');
                        if (i < 0) break;
                        d = d.slice(i + 1)
                    }
                }
            };
        })(window, document, window['_fs_namespace'], 'script', 'user');
    </script>

</head>

<!-- CONTENT  -->

<body style="color: #000;">

    <section style="background-image: url(/assets/images/desk-1.jpg); background-size: cover; background-position: center;">
        <div class="hero is-fullheight" style="background-color: rgba(255, 255, 255, 0.65  );">
            <nav class="nav mb1 mt1" style="box-shadow: none;">
                <div class="container">
                    <div class="nav-left">
                      <a class="nav-item" href="/">
                        <img style="max-height: 2.5rem;" src=/assets/images/nudj-logo.png></img>
                      </a>
                    </div>
                    <div class="nav-right">
                      <div class="nav-item is-pulled-right">
                        <a class="button is-success" href=/request>
                        <span>Request access</span>
                        </a>
                      </div>
                    </div>
                </div>
            </nav>
            <div class="hero-body">
                <div class="container has-text-centered">
                  <h1 class="h1 md-h0">
                    The best jobs aren’t advertised. The best talent isn’t looking. Maybe they just need a nudj.
                  </h1>
                </div>
            </div>
            <div class="hero-footer">
                <div class="container has-text-centered">
                    <p class="h1 md-h0 pb2">
                        &#x1F447;
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section is-medium">
        <div class="hero-head">
          <div class="container has-text-centered">
            <h2 class="h1 md-h0">
              How it works
            </h2>
            <p class="h3 md-h2">
              It's so easy, it won't feel like work.
            </p>
          </div>
        </div>
        <div class="hero-body">
            <div class="container">
                <div class="columns is-mobile">
                    <div class="column is-half-desktop is-offset-one-quarter-desktop">
                        <h3 class="h2 md-h1">
                          1. Get set-up in seconds
                        </h3>
                        <p class="h4 md-h3">
                          Simply enter a few details about your company, and, hey-presto, your jobs will appear on the nudj network.
                        </p>
                    </div>
                </div>

                <div class="columns is-mobile">
                    <div class="column is-half-desktop is-offset-one-quarter-desktop">
                        <h3 class="h2 md-h1">
                    2. Connect the dots
                  </h3>
                        <p class="h4 md-h3">
                            We'll automatically identify the people most likely to put you in touch with awesome talent, whether they’re in your network or ours.
                        </p>
                    </div>
                </div>

                <div class="columns is-mobile">
                    <div class="column is-half-desktop is-offset-one-quarter-desktop">
                        <h3 class="h2 md-h1">
                      3. Make it personal
                    </h3>
                        <p class="h4 md-h3">
                            Get help tailoring your messages and incentives to ensure those you ask take action.
                        </p>
                    </div>
                </div>

                <div class="columns is-mobile">
                    <div class="column is-half-desktop is-offset-one-quarter-desktop">
                        <h3 class="h2 md-h1">
                       4. Review only the best
                     </h3>
                        <p class="h4 md-h3">
                            Get a curated list of the best applicants and only the juicy details delivered straight to your inbox or ATS of your choice.
                        </p>
                    </div>
                </div>

                <div class="columns is-mobile">
                    <div class="column is-half-desktop is-offset-one-quarter-desktop">
                        <h3 class="h2 md-h1">
                        5. Say goodbye to paperwork
                      </h3>
                        <p class="h4 md-h3">
                            We’ll then handle all the admin and payments so you don’t have to. One less thing for you too worry about.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="hero is-medium">
        <div class="hero-head">
            <div class="container has-text-centered">
                <h2 class="h1 md-h0">
                  How we compare
                </h2>
                <p class="h3 md-h2">
                  Anyone can say they're the best, so we'll just let the numbers do the talking. &#x1F60F;
                </p>
            </div>
        </div>
        <div class="hero-body">
            <div class="container">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                <p class="h3 md-h1 center regular" style="color: #000;">Recruiter</p>
                            </th>
                            <th>
                                <p class="h3 md-h1 center regular" style="color: #000;">Internal Referrals</p>
                            </th>
                            <th>
                                <p class="h3 md-h1 center bold" style="color: #23d160;">nudj*</p>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Cost of Hire</td>
                            <td class="center">
                                <p class="h4 md-h3 center">£3,000</p>
                            </td>
                            <td class="center">
                                <p class="h4 md-h3 center">£1,000</p>
                            </td>
                            <td class="center">
                                <p class="h4 md-h3 center bold" style="color: #23d160;">£750</p>
                            </td>
                        </tr>
                        <tr>
                            <td>Time to Hire</td>
                            <td class="center"><p class="h4 md-h3 center">55 Days</p></td>
                            <td class="center"><p class="h4 md-h3 center">29 Days</p></td>
                            <td class="center"><p class="h4 md-h3 center bold" style="color: #23d160;">20 Days</p></td>
                        </tr>
                        <tr>
                            <td>Fill Rate</td>
                            <td class="center"><p class="h4 md-h3 center">18%</p></td>
                            <td class="center"><p class="h4 md-h3 center">40%</p></td>
                            <td class="center"><p class="h4 md-h3 center bold" style="color: #23d160;">56%</p></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container has-text-centered pt3">
                <p class="h4 md-h3" style="color: #23d160;">
                *based on tests with these lovely people.
                </p>
                <div class="columns pt2">
                    <div class="column">
                        <img width="250" height="250" class="mx-auto" src="/assets/images/mams.png" alt="Mr & Mrs Smith - Botique and luxury escapes"></img>
                    </div>
                    <div class="column">
                        <img width="250" height="250" class="mx-auto" src="/assets/images/ct.png" alt="Charlotte Tilbury - Makeup, Skincare & Beauty"></img>
                    </div>
                    <div class="column">
                        <img width="250" height="250" class="mx-auto" src="/assets/images/mp.png" alt="Market Porter: Great Food from Great British Producers"></img>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="hero is-medium">
        <div class="hero-head">
            <div class="container has-text-centered">
                <h1 class="h1 md-h0">
              How much does it cost
            </h1>
                <h2 class="h3 md-h2">
              We will be announcing our pricing very soon, but while we're still in beta it costs...
            </h2>
            </div>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <h2 class="h1 md-h0 bold">
                £0 + referral fee. &#x1F62E;
              </h2>
                <p class="h4 md-h3">So sign-up for beta access today!</p>
                <div class="pt3">
                  <a class="button is-success is-medium">Request access</a>
                  <span class="pl2 pr2"></span>
                  <a class="button is-outlined is-medium" id="open-intercom">Get in touch</a>
                </div>
            </div>
        </div>
    </section>

    <footer class="section">
        <div class="container">
            <div class="content has-text-centered">
                <p class="h5 md-h4">
                    © 2017 <strong>NUDJ</strong>, All Rights Reserved
                </p>
                <a href="//www.iubenda.com/privacy-policy/8051143" title="Privacy Policy" class="button is-link h5 md-h4">Privacy</a>
                <script type="text/javascript">
                    (function(w, d) {
                        var loader = function() {
                            var s = d.createElement("script"),
                                tag = d.getElementsByTagName("script")[0];
                            s.src = "//cdn.iubenda.com/iubenda.js";
                            tag.parentNode.insertBefore(s, tag);
                        };
                        if (w.addEventListener) {
                            w.addEventListener("load", loader, false);
                        } else if (w.attachEvent) {
                            w.attachEvent("onload", loader);
                        } else {
                            w.onload = loader;
                        }
                    })(window, document);
                </script>
            </div>
        </div>
    </footer>

</body>

</html>
