<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8">
    <title>Nudj - Hire the people you never thought you could.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href=/assets/images/nudj-square.ico type="image/x-icon"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.2/css/bulma.min.css">
    <link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
    <link href="https://unpkg.com/basscss-responsive-type-scale@1.0.1/css/responsive-type-scale.css" rel="stylesheet">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WT43QJJ');</script>
    <!-- End Google Tag Manager -->

</head>

<body>

<!-- CONTENT  -->

<section class="hero is-fullheight">
        <nav class="nav mb1 mt1" style="box-shadow: none;">
            <div class="container">
                <div class="nav-left">
                  <a class="nav-item" href="/">
                    <img style="max-height: 2.5rem;" src=/assets/images/nudj-logo.png></img>
                  </a>
                </div>
            </div>
        </nav>
        <div class="hero-body" style="color:#000">
            <div class="container has-text-centered">
              <iframe src="//giphy.com/embed/26ufmAlKt4ne2JDnq?html5=true" width="300" height="300" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
              <h1 class="h1 md-h0 pt2">
                Nice one!
              </h1>
              <p class="h3 md-h2">
                Someone from our team will be in touch shortly. Until then do us a solid and follow us on Twitter.
              </p>
              <div class="pt3">
              <iframe ng-show="user.twitter" allowtransparency="true" frameborder="0" scrolling="no"
                    src="//platform.twitter.com/widgets/follow_button.html?screen_name=NudjHQ"
                    style="width:208px; height:20px;"></iframe>
                  </div>
            </div>
        </div>

        <footer class="section">
            <div class="container">
                <div class="content has-text-centered">
                    <p class="h5 md-h4">
                        © 2017 <strong>NUDJ</strong>, All Rights Reserved
                    </p>
                    <a href="//www.iubenda.com/privacy-policy/8051143" title="Privacy Policy" class="button is-link h5 md-h4">Privacy</a>
                    <script type="text/javascript">
                        (function(w, d) {
                            var loader = function() {
                                var s = d.createElement("script"),
                                    tag = d.getElementsByTagName("script")[0];
                                s.src = "//cdn.iubenda.com/iubenda.js";
                                tag.parentNode.insertBefore(s, tag);
                            };
                            if (w.addEventListener) {
                                w.addEventListener("load", loader, false);
                            } else if (w.attachEvent) {
                                w.attachEvent("onload", loader);
                            } else {
                                w.onload = loader;
                            }
                        })(window, document);
                    </script>
                </div>
            </div>
        </footer>
</section>

</body>
</html>
